%h4.text-center
  = announcements_title(@city, @event_type, (Date.today + @offs * 7))

- @events.each do |day, events|
  %h3.text-center= I18n.localize(Date.parse(day), format: "%e %B")
  .row
    - if events.present?
      = render 'announcements/events_carousel', events: events, day: day
    - else
      .col-xs-12
        В этот день интересные события еще не замечены. Как только они появятся, мы их добавим!

