= link_to edit_event_path(event) do
  %i.mdi-image-edit.mdi-material-lime
= link_to event_path(event), method: :delete, 'data-confirm' => "Are you sure?" do
  %i.mdi-navigation-cancel.mdi-material-pink