- content_for :top_background_content do render 'events_search' end
- content_for :title do "Все события в твоем городе" end

- false && if Conf['welcome.header'] and Conf['welcome.message']
  %article
    %header
      %h1= Conf['welcome.header']
    %section
      .jumbotron
        = Conf['welcome.message'].html_safe
- if @event.present?
  %article
    %header
      %h1 Случайное событие
    %section
      = render 'big_event', event: @event
