= render 'events_search'


%h1.header= t('events.h1.index')

.grid
  .ui.stackable.four.column.grid
    = render @events

.ui.grid
  .ui.column
    = paginate @events if @events.respond_to?(:current_page)
