- content_for :title do "О проекте" end
%h1 Добрый день, дорогие друзья!
.jumbotron
  %p Сервис Теренкур создан для того, чтобы вы могли в несколько кликов найти для себя интересные мероприятия, которые проходят в Вашем городе или городе, который вы хотите посетить в нужную Вам дату.
  %p Ведь событий каждый день случается очень много. А вы о них можете просто не знать.
  %p Мы стараемся создать максимально простой и при этом максимально емкий сервис. При этом мы только на стадии развития, поэтому будем очень благодарны Вам, если вы укажите нам на какие-то наши ошибки или посоветуете добавить какой-то функционал. Или просто дадите оценку и обратную связь нам.
  %hr/
  .text-right С уважением, команда Теренкур!
