- content_for :title do "Партнерам" end
%h1 Уважаемые организаторы мероприятий!
.jumbotron
  %p Сайт Теренкур каждый день посещают сотни людей, которые ищут события в своем городе, которые бы им хотелось посетить.
  %p От Вас лишь требуется разместить Ваши мероприятия на нашем сайте, чтобы их увидело как можно больше людей. Это все абсолютно бесплатно. Чем больше людей узнают о Вашем мероприятии, тем больше людей его посетят.
  %p Перейдите на главную страницу и нажмите кнопку «Добавить событие» и разместите свои интересные мероприятия.
  %hr/
  .text-right С уважением, команда Теренкур!
