.container
  .row
    .col-xs-12.col-sm-8.col-sm-offset-2.col-md-6.col-md-offset-3
      - if flash[:error]
        .alert.alert-danger.alert-dismissible
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} ×
          %p= flash[:error]

      - if flash[:notice]
        .alert.alert-success.alert-dismissible
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} ×
          %p= flash[:notice]

      - if flash[:alert]
        .alert.alert-warning.alert-dismissible
          %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"} ×
          %p= flash[:alert]